.itemPreview {
  width: 300px;
  height: 220px;
  border-radius: 8px;
  background-color: #141414;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
  position: absolute;
  top: -10px;
  left: -20%;
  z-index: 3;
}

@media (width < 500px){
  .itemPreview{
    left: -35%;
  }
}


.itemPreview > .previewHero {
  width: 100%;
  height: 75%;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.itemPreview > .previewHero > .previewImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.itemPreview > .previewHero > .previewDescription{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    text-shadow: 1px 1px #1c1c1c;
}

.itemPreview > .previewHero > .previewDescription > .mediaType{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
}

.itemPreview > .previewHero > .previewDescription > .mediaType > img{
    width: 8px;
    margin-right: 5px;
}


.itemPreview > .previewHero > .previewTitle{
    font-size: 0.8rem;
}


.itemPreview > .previewButtons {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  
}

.itemPreview > .previewButtons button {
  background: transparent;
  margin-left: 8px;
  border: none;
}

.itemPreview > .previewButtons img {
  background: transparent;
  width: 32px;
  height: 32px;
}

.itemPreview > .previewButtons img:hover{
  transform: scale(1.3);
}


